#sorting .container {
  border: 3px solid black;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#sorting .value {
  width: 20px;
  background-color: cyan;
  border: 1px solid black;
}

#sorting .switching {
  background-color: rgb(158, 35, 35);
}

#sorting .pivot {
  background-color: rgb(28, 133, 28);
}
