.todo {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  user-select: none;
}

.selected {
  padding: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
